@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web:200,300,400|Work+Sans&display=swap');

.App {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  margin-bottom: 0em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.trivial-group-header {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  margin-block-start: -0.75em;
  font-size: 1em;
}
